/* COMPANIES */

.main-contant-out{
    width: 100%;
    display: flex;
    padding: 100px 70px;
    justify-content: center;
}

.main-contant-out .main-contant{
    background: #fff;
    border: 1px solid #9E9E9E;
    border-radius: 25px;
    padding: 40px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.main-contant-out .main-contant .in-main-contant{
    background: #fff;
    width: 100%;
    height: 100%;
}

.main-contant-out .main-contant .main-heading{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main-contant-out .main-contant .main-heading h2{
    width: 410px;
    height: 49px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 2.2em;
    line-height: 49px;
    color: #140024;
}

.main-contant-out .main-contant .main-heading .h2{
    background: #FF9900;
    color: #fff;
    padding: 10px 12px;
    font-size: 1em;
    border-radius: 5px;
    text-decoration: none;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    text-align: center;
} 

.main-contant-out .main-contant .in-main-contant .row{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 30px;
}

.main-contant-out .main-contant .in-main-contant .row .column{
    border-radius: 10px;
    width: 305px;
    height: 380px;
    border: 1px solid #9E9E9E;
    transition: 0.4s;
    margin: 7px;
}

.main-contant-out .main-contant .in-main-contant .row .column-2{
    background: #F7F7F7;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.main-contant-out .main-contant .in-main-contant .row .column-2 a{
    color: #808080;
    font-size: 100px;
    text-decoration: none;
}

.main-contant-out .main-contant .in-main-contant .row .column-2 p{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #808080;
}

.main-contant-out .main-contant .in-main-contant .row .column:hover{
    transform: translateY(-10px);
    transition: 0.3s;
    box-shadow: -2px 3px 20px rgb(0 0 0 / 10%);
    cursor: pointer;
}

.main-contant-out .main-contant .in-main-contant .row .column .col-text-out{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.main-contant-out .main-contant .in-main-contant .row .column .col-text-out .col-text h3{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 17px;
    line-height: 19px;
    text-decoration-line: underline;
    color: #140024;
    padding: 10px 0px 0 10px ;
}

.main-contant-out .main-contant .in-main-contant .row .column .col-text-out .col-text p{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 11px;
    color: #2B2B2B;
    padding: 5px 0px 0 10px ;
}

.main-contant-out .main-contant .in-main-contant .row .column .col-text-out .icon{
    width: 24px;
    height: 24px;
    display: flex;
    background: green;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    margin-right: 8px;
}

.main-contant-out .main-contant .in-main-contant .row .column .col-text-out .icon .fa-pen{
    color: #FFFFFF;
    font-size: 12px;
}

.main-contant-out .main-contant .in-main-contant .row .column .col-heading{
    width: 100%;
    height: 138.17px;
    background: rgba(83, 255, 40, 0.05);
    border-radius: 0px;
    margin-top: 20px;
}

.main-contant-out .main-contant .in-main-contant .row .column .col-heading h2{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 900;
    font-size: 50px;
    line-height: 140px;
    text-align: center;
    color: #040F00;
}

.main-contant-out .main-contant .in-main-contant .row .column .col-rat{
     display: flex; 
     justify-content: space-evenly;
     align-items: center;
}

.main-contant-out .main-contant .in-main-contant .row .column .col-rat ul{
    width: 118px;
    height: 74.76px;
    margin-top: 20px;    
} 

.main-contant-out .main-contant .in-main-contant .row .column .col-rat ul li{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    padding: 6px 0;
    color: #2B2B2B;
    border-bottom: 2px solid #9E9E9E;
}

.main-contant-out .main-contant .in-main-contant .row .column .col-rat ul li div{
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-contant-out .main-contant .in-main-contant .row .column .col-rat ul li div .fa-star{
    font-size: 10px;
    color: #FF9900;
    border-radius: 0.8px;
    padding: 5px 0 0 5px;
}

.main-contant-out .main-contant .in-main-contant .row .column .col-rat hr{
    height: 83px;
    width: 0px;
    margin-top: 40px;
    border: 0.5px solid #9E9E9E;
}

.main-contant-out .main-contant .in-main-contant .row .column .footer-text{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 25px 0 0 13px;
    width: 270px;
}

.main-contant-out .main-contant .in-main-contant .row .column .footer-text a{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 12px;
    text-align: center;
    color: #140024;
    text-decoration: underline;
}

.main-contant-out .main-contant .in-main-contant .row .column .footer-text p{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 12px;
    text-align: center;
    color: #140024;
}

.main-contant-out .main-contant .in-main-contant .footer-text-2{
    display: flex;
    margin-top: 50px;
    justify-content: flex-end;
    align-items: center;
}

.main-contant-out .main-contant .in-main-contant .footer-text-2 .underline{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    text-align: right;
    text-decoration-line: underline;
    color: #140024;
    margin-right: 10px;
}

.main-contant-out .main-contant .in-main-contant .footer-text-2 .fa-arrow-right{
    font-size: 18px;
    color: #140024;
    margin-top: 6px;
}